README.md
a3search
tags
a3search.dSYM
booknmail
books200m
legal1
legal2
man
simple
*.o
*.txt
files
libstemmer_c/*.o
libstemmer_c/src_c/*.o
libstemmer_c/runtime/*.o
libstemmer_c/libstemmer/*.o
index_files
dumped.c
